In [1]:
import numpy as np
import pandas as pd

Pandas is a Python library for handeling table data

Pandas stands for "Panel Data"

Crated in 2008

Primarily written in C++

Built on top of Numpy Arrays

Pandas Series

In [ ]:
pets_list = ["Dog", "Cat", "Lizard", "Parrot", "Fish", "Snake", "Rock"]

pets = pd.Series(pets_list)
pets

0       Dog
1       Cat
2    Lizard
3    Parrot
4      Fish
5     Snake
6      Rock
dtype: object

In [ ]:
print(pets.index)
print(pets[3])

RangeIndex(start=0, stop=7, step=1)
Parrot

In [ ]:
pets_food_price = [20.00, 15.00, 5.00, 10.00, 5.00, 20.00, None]

food = pd.Series(pets_food_price, index=pets_list)
food

Dog       20.0
Cat       15.0
Lizard     5.0
Parrot    10.0
Fish       5.0
Snake     20.0
Rock       NaN
dtype: float64

In [ ]:
food

Dog       20.0
Cat       15.0
Lizard     5.0
Parrot    10.0
Fish       5.0
Snake     20.0
Rock       NaN
dtype: float64

.loc[ ] 

.iloc[ ]

In [ ]:
food.loc[["Dog", "Parrot"]]

Dog       20.0
Parrot    10.0
dtype: float64

In [ ]:
food.loc[ food <= 15 ]

Cat       15.0
Lizard     5.0
Parrot    10.0
Fish       5.0
dtype: float64

In [ ]:
food.loc["Parrot"]

10.0

In [ ]:
food.iloc[3]

10.0

In [ ]:
food.sort_values(ascending=False).iloc[0:3]

Dog      20.0
Snake    20.0
Cat      15.0
dtype: float64

In [ ]:
food.sort_values().iloc[0:3]

Lizard     5.0
Fish       5.0
Parrot    10.0
dtype: float64

In [ ]:
food.filter(["Parrot", "Snake"])

Parrot    10.0
Snake     20.0
dtype: float64

In [ ]:
food[["Rock"]]

Rock   NaN
dtype: float64

In [ ]:
food

Dog       20.0
Cat       15.0
Lizard     5.0
Parrot    10.0
Fish       5.0
Snake     20.0
Rock       NaN
dtype: float64

In [ ]:
food.fillna(food[["Fish", "Lizard"]].mean())

Dog       20.0
Cat       15.0
Lizard     5.0
Parrot    10.0
Fish       5.0
Snake     20.0
Rock       5.0
dtype: float64

In [ ]:
food["Dog"] = 17.0

In [ ]:
food

Dog       17.0
Cat       15.0
Lizard     5.0
Parrot    10.0
Fish       5.0
Snake     20.0
Rock       NaN
dtype: float64

In [ ]:
food["Canary"] = 7.00

In [ ]:
food

Dog       17.0
Cat       15.0
Lizard     5.0
Parrot    10.0
Fish       5.0
Snake     20.0
Rock       NaN
Canary     7.0
dtype: float64

In [ ]:
# ["Dog", "Cat", "Lizard", "Parrot", "Fish", "Snake", "Rock"]
classification = ["Mammal", "Mammal", "Reptile", "Bird", "Fish", "Reptile", None]

In [ ]:
print(len(classification),len(pets))

7 7

In [ ]:
kind_of_animal = pd.Series(classification, index = pets)
kind_of_animal

Dog        Mammal
Cat        Mammal
Lizard    Reptile
Parrot       Bird
Fish         Fish
Snake     Reptile
Rock         None
dtype: object

In [ ]:
kind_of_animal.str.upper()

Dog        MAMMAL
Cat        MAMMAL
Lizard    REPTILE
Parrot       BIRD
Fish         FISH
Snake     REPTILE
Rock         None
dtype: object

In [ ]:
kind_of_animal.groupby(by=kind_of_animal).count()

Bird       1
Fish       1
Mammal     2
Reptile    2
dtype: int64

In [ ]:
kind_of_animal.unique()

array(['Mammal', 'Reptile', 'Bird', 'Fish', None], dtype=object)

In [ ]:
len(food), food.count()

(8, 7)

In [ ]:
type(food["Rock"])

numpy.float64

1) Define a function that returns a Numpy Array of the Fibonacci sequence up to a given number

2) Define a function thar retruns a Numpy array of a Factorial sequence up to a given number

Bonus) Make it more efficient

In [ ]:
def fib(x):
  fibl = [0,1]

  while fibl[-1] <= x:
    fibl.append(fibl[-1] + fibl[-2])
  return np.array(fibl[:-1])

fib(0)

array([0])

In [ ]:
def fact(x):
  factl = [1]
  y = 2
  while factl[-1] <= x:
    factl.append(factl[-1] * y)
    y = y + 1
  return np.array(factl[:-1])

fact(10)

array([1, 2, 6])

In [ ]:
def fac_array(x:int) -> np.array:
    # factorial of 0 = 1
    if x == 0:
        return np.array([1])
    fac_list = [1]
    # iterate through each number up to given number adding to list
    for i in range(1,x+1):
        product = 1
        for j in range(i,0,-1):
            product *=j
        fac_list.append(product)
    # have to use array of python objects because int can't handle the size
    return np.array(fac_list)
fac_array(10)

array([      1,       1,       2,       6,      24,     120,     720,
          5040,   40320,  362880, 3628800])

DataFrame

In [ ]:
pet_index = ["dog", "cat", "parrot"]
pet_data = [
    {
        "food": 20.00,
        "class": "mammal"
    },
    {
        "food": 15.00,
        "class": "mammal"
    },
    {
        "food": 10.00,
        "class": "bird"
    },
]
pet_data

[{'food': 20.0, 'class': 'mammal'},
 {'food': 15.0, 'class': 'mammal'},
 {'food': 10.0, 'class': 'bird'}]

In [ ]:
pet_df = pd.DataFrame(pet_data, index=pet_index)
pet_df

        food   class
dog     20.0  mammal
cat     15.0  mammal
parrot  10.0    bird

In [ ]:
pet_index2 = ["lizard", "snake", "fish"]
pet_data2 = {
    "food": [5.00,20.00,5.00],
    "class": ["reptile", "reptile", "fish"]
}

In [ ]:
pet_df2 = pd.DataFrame(pet_data2, index=pet_index2)
pet_df2

        food    class
lizard   5.0  reptile
snake   20.0  reptile
fish     5.0     fish

In [ ]:
pet_df['class']

dog       mammal
cat       mammal
parrot      bird
Name: class, dtype: object

In [ ]:
pet_df['food']

dog       20.0
cat       15.0
parrot    10.0
Name: food, dtype: float64

In [ ]:
kind_of_animal

Dog        Mammal
Cat        Mammal
Lizard    Reptile
Parrot       Bird
Fish         Fish
Snake     Reptile
Rock         None
dtype: object

In [ ]:
df = pd.DataFrame({"food":food, "class": kind_of_animal}, index=food.index)
df

        food    class
Dog     17.0   Mammal
Cat     15.0   Mammal
Lizard   5.0  Reptile
Parrot  10.0     Bird
Fish     5.0     Fish
Snake   20.0  Reptile
Rock     NaN     None
Canary   7.0      NaN

In [ ]:
df["size"] = ["large", "medium", "small", "medium", "small", "medium", "small", "small"]
df

        food    class    size
Dog     17.0   Mammal   large
Cat     15.0   Mammal  medium
Lizard   5.0  Reptile   small
Parrot  10.0     Bird  medium
Fish     5.0     Fish   small
Snake   20.0  Reptile  medium
Rock     NaN     None   small
Canary   7.0      NaN   small

In [ ]:
df[["food","size"]]

        food    size
Dog     17.0   large
Cat     15.0  medium
Lizard   5.0   small
Parrot  10.0  medium
Fish     5.0   small
Snake   20.0  medium
Rock     NaN   small
Canary   7.0   small

In [ ]:
df.loc["Dog"]

food       17.0
class    Mammal
size      large
Name: Dog, dtype: object

In [ ]:
df.loc[["Dog","Lizard"]]

        food    class   size
Dog     17.0   Mammal  large
Lizard   5.0  Reptile  small

In [ ]:
df.iloc[1:3]

        food    class    size
Cat     15.0   Mammal  medium
Lizard   5.0  Reptile   small

In [ ]:
amz = pd.read_csv("./amazon_prime_titles.csv")
amz.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [ ]:
amz.set_index("show_id", inplace=True)
# amz = amz.set_index("show_id")
amz.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [ ]:
amz["type"].unique()

array(['Movie', 'TV Show'], dtype=object)

In [ ]:
tv_df = amz[amz["type"] == "TV Show"]
tv_df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s18,TV Show,Zoo Babies,NaN,Narrator - Gillian Barlett,NaN,NaN,2008,ALL,1 Season,"Kids, Special Interest",A heart warming and inspiring series that welc...
s19,TV Show,Zoë Coombs Marr: Bossy Bottom,NaN,Zoë Coombs Marr,NaN,NaN,2020,18+,1 Season,"Comedy, Talk Show and Variety",Zoë Coombs Marr has been on hiatus. Sort of. F...
s21,TV Show,Zoboomafoo,NaN,NaN,NaN,NaN,2001,TV-Y,1 Season,Kids,Chris and Martin Kratt bring their enthusiasm ...
s22,TV Show,Zo Zo Zombie: Mini-Series,NaN,"Alex Cazares, Ben Diskin, Cristina Vee, Erika ...",NaN,NaN,2020,TV-Y7,1 Season,"Action, Anime, Comedy","Zo Zo Zombie is our undead hero who, with his ..."
s24,TV Show,ZeroZeroZero,NaN,"ANDREA RISEBOROUGH, HAROLD TORRES, CLAUDIA PIN...",Italy,NaN,2020,18+,1 Season,TV Shows,ZeroZeroZero series follows the journey of a c...

In [ ]:
movie_df = amz[amz["type"] == "Movie"]
movie_df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [ ]:
movie_df["duration"].str.len()

show_id
s1       7
s2       7
s3       6
s4       6
s5       6
        ..
s9661    6
s9663    6
s9664    6
s9666    6
s9668    7
Name: duration, Length: 7814, dtype: int64

In [ ]:
movie_df[movie_df["duration"].str.len() == 7]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_min
show_id,,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110
s8,Movie,Grease Live!,"Thomas Kail, Alex Rudzinski","Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",United States,"March 30, 2021",2016,NaN,131 min,Comedy,"This honest, uncompromising comedy chronicles ...",131
s20,Movie,Zoe,Drake Doremus,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",NaN,NaN,2018,R,104 min,Science Fiction,ZOE tells a tale of forbidden love between an ...,104
s37,Movie,You're Not You,George C. Wolfe,"Hilary Swank, Emmy Rossum, Josh Duhamel",NaN,NaN,2015,R,103 min,Drama,A drama centered on a classical pianist who ha...,103
...,...,...,...,...,...,...,...,...,...,...,...,...
s9650,Movie,Jack,Francis Ford Coppola,"Robin Williams, Diane Lane, Brian Kerwin, Jenn...",NaN,NaN,1996,PG-13,113 min,Comedy,Robin Williams stars as a 10-year-old in a gro...,113
s9653,Movie,Famo$o (4K UHD),Pepsy Romanoff,"Sfera Ebbasta, Diplo, Steve Aoki, Rvssian",NaN,NaN,2016,G,111 min,Documentary,Musicfilm with unpublished images from the lif...,111
s9654,Movie,Date Night (Extended Cut),Shawn Levy,"Mark Wahlberg, Steve Carell, Taraji P. Henson,...",NaN,NaN,2010,UNRATED,102 min,Comedy,A typical suburban couple's date night becomes...,102
s9657,Movie,Anaganaga Oka Nenu,Vamshi P,"Vijay, Sweta chaudhary, NNR CHOWDARY, Hariya",NaN,NaN,2021,18+,135 min,"Action, Drama, Suspense",Peter(hero) Who went to the forest to find a c...,135
s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",103

In [ ]:
# movie_df = movie_df.copy()
movie_df["duration"].str.split(expand=True)[0].astype(int)

show_id
s1       113
s2       110
s3        74
s4        69
s5        45
        ...
s9661     96
s9663     93
s9664     60
s9666     90
s9668    103
Name: 0, Length: 7814, dtype: int64

In [ ]:
movie_df["duration_min"] = movie_df["duration"].str.split(expand=True)[0].astype(int)
movie_df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_min
show_id,,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110
s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,74
s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",69
s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,45

In [ ]:
movie_df[movie_df['duration_min'] >= 100 ].head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_min
show_id,,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110
s8,Movie,Grease Live!,"Thomas Kail, Alex Rudzinski","Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",United States,"March 30, 2021",2016,NaN,131 min,Comedy,"This honest, uncompromising comedy chronicles ...",131
s20,Movie,Zoe,Drake Doremus,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",NaN,NaN,2018,R,104 min,Science Fiction,ZOE tells a tale of forbidden love between an ...,104
s37,Movie,You're Not You,George C. Wolfe,"Hilary Swank, Emmy Rossum, Josh Duhamel",NaN,NaN,2015,R,103 min,Drama,A drama centered on a classical pianist who ha...,103

In [ ]:
tv_df[(tv_df["release_year"] == 2000) | (tv_df["release_year"] == 2001)].head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s21,TV Show,Zoboomafoo,NaN,NaN,NaN,NaN,2001,TV-Y,1 Season,Kids,Chris and Martin Kratt bring their enthusiasm ...
s845,TV Show,Supermarket Sweep,NaN,David Ruprecht,NaN,NaN,2000,TV-G,2 Seasons,Unscripted,Teams answer questions to earn time and advant...
s906,TV Show,Star Trek: Voyager,NaN,"Kate Mulgrew, Robert Beltran, Roxann Biggs-Daw...",NaN,NaN,2001,TV-PG,7 Seasons,"Drama, Science Fiction, Special Interest","In Season 7, Janeway leads the crew through a ..."
s1172,TV Show,Rex the Runt,NaN,NaN,NaN,NaN,2001,TV-PG,2 Seasons,Comedy,Discover the Joy of Rex. Join REX THE RUNT and...
s1231,TV Show,Queer as Folk,NaN,"Aidan Gillen, Craig Kelly, Charlie Hunnam",NaN,NaN,2000,18+,2 Seasons,"Drama, LGBTQ","In season two, Nathan, Stuart, Vince, and Alex..."

In [ ]:
tv_df[(tv_df["release_year"] == 2000) & (tv_df["rating"] == "TV-G")].head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s845,TV Show,Supermarket Sweep,NaN,David Ruprecht,NaN,NaN,2000,TV-G,2 Seasons,Unscripted,Teams answer questions to earn time and advant...
s5766,TV Show,Timothy Goes To School,NaN,"Austin Diiulio, Lisa Yamanaka, Fiona Reid, Max...",NaN,NaN,2000,TV-G,2 Seasons,"Animation, Kids",This animated series chronicles the adventures...

In [ ]:
movie_df["director"].value_counts()

Mark Knight              113
Cannis Holder             61
Moonbug Entertainment     37
Jay Chapman               34
Arthur van Merwijk        30
                        ...
Andrew Traucki             1
Karyn Kusama               1
K. Subash                  1
Robert Cuffley             1
Steve Barker               1
Name: director, Length: 5774, dtype: int64

In [ ]:
movie_df.groupby("director").mean("duration_min")[["duration_min"]].sort_values("duration_min",ascending=False)

                       duration_min
director
Larry Peerce                  269.0
Jim Wilmer                    224.5
Ron Howard                    207.0
St. Joseph Nwanze             188.0
Franklin J. Schaffner         188.0
...                             ...
Test title                      1.0
Test Director US                0.0
Test Director                   0.0
Tester                          0.0
Lewis Seiler                    0.0

[5774 rows x 1 columns]

In [ ]:
movie_df.loc[movie_df["director"] == "Larry Peerce"]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_min
show_id,,,,,,,,,,,,
s8058,Movie,A Woman Named Jackie,Larry Peerce,"Sarah Michelle Gellar, Andy Buckley, Stephen C...",NaN,NaN,1991,16+,269 min,Drama,This starts when Jackie Kennedy was working af...,269

In [ ]:
movie_df["duration_min"].max()

601

In [ ]:
movie_df.loc[movie_df["duration_min"] == movie_df["duration_min"].max()]["description"][0]

'Black screen reduces the blue-spectrum light waves-known to inhibit REM sleep. Awaken rested and refreshed. Accompanied by the relaxing ocean surf and natural sounds filmed on location in the remote Centerville Beach near the California Redwoods. Great for children, pets and anyone with sleep issues. For best results adjust your monitor or TV to the night or darkest screen setting.'

In [ ]:
amz.head(2)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

1) Find the Count of all programs by Country

2) Find the oldest and newest programs

3) Find the program(s) with the greatest gap between date_added and release year

4) Add an integer column for duration in minutes for movies, with a NaN for TV shows

5) Add an integer column for number of seasons of a TV show with a NaN for movies

6) Construct a query that can search for genres in listed_in

In [111]:
df = pd.read_csv("./amazon_prime_titles.csv")
df = df.set_index("show_id")
df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [57]:
# 1) Find the Count of all programs by Country
df["country"].value_counts()
# df.groupby(["country"]).count()[["show_id"]].sort_values(by="show_id",ascending=False)

United States                            253
India                                    229
United Kingdom                            28
Canada                                    16
United Kingdom, United States             12
                                        ...
United States, Germany, Brazil, Italy      1
South Africa                               1
Australia, United States, Germany          1
Germany, Austria, United States            1
Italy, Spain                               1
Name: country, Length: 86, dtype: int64

In [58]:
# 2) Find the oldest and newest programs
df[(df["release_year"] == df["release_year"].min()) \
   | (df["release_year"] == df["release_year"].max())] \
   [["title", "release_year"]]

                                                title  release_year
show_id
s84                                  Within Our Gates          1920
s97                                          Wildlike          2021
s114                                      White Tiger          2021
s135     WGC-Dell Technologies Match Play Reveal Show          2021
s152                                     War of Likes          2021
...                                               ...           ...
s9656                           DaFUNdamentals Series          2021
s9657                              Anaganaga Oka Nenu          2021
s9661                              The Man in the Hat          2021
s9663                                           River          2021
s9667                         Maradona: Blessed Dream          2021

[1445 rows x 2 columns]

In [59]:
# 3) Find the program(s) with the greatest gap between date_added and release year

# df[["date_added","release_year"]]
date_df = df.dropna(subset=["date_added"]).copy()

In [60]:
date_df["year_added"] = date_df["date_added"].str.split(", ", expand=True)[1].astype(int)

In [61]:
date_df["gap"] = date_df["year_added"] - date_df["release_year"]
date_df[date_df["gap"] == date_df["gap"].max()]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,gap
show_id,,,,,,,,,,,,,
s554,TV Show,The Lucy Show,NaN,"Lucille Ball, Vivian Vance, Gale Gordon, Jimmy...",NaN,"March 30, 2021",1967,13+,3 Seasons,Comedy,"After her husband's death, Lucy Carmichael, an...",2021,54

In [90]:
movie_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,runtime_minutes
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,74
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",69
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,45

In [112]:
# 4) Add an integer column for duration in minutes for movies, with a NaN for TV shows
movie_df = df[df["type"] == "Movie"].copy()
movie_df["runtime_minutes"] = movie_df["duration"].str.split(expand=True)[0].astype(int)
movie_df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,runtime_minutes
show_id,,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110
s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,74
s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",69
s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,45

In [104]:
movie_df[["runtime_minutes"]]

         runtime_minutes
show_id
s1                   113
s2                   110
s3                    74
s4                    69
s5                    45
...                  ...
s9661                 96
s9663                 93
s9664                 60
s9666                 90
s9668                103

[7814 rows x 1 columns]

In [113]:
df = pd.merge(left=df, right=movie_df[["runtime_minutes"]], how="left", on="show_id")
df

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,runtime_minutes
show_id,,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113.0
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110.0
s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,74.0
s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",69.0
s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...
s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...,60.0
s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",NaN
s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",90.0
s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",NaN
s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",103.0

In [149]:
df["duration"].str.split(" ", expand=True)

           0        1
show_id
s1       113      min
s2       110      min
s3        74      min
s4        69      min
s5        45      min
...      ...      ...
s9664     60      min
s9665      4  Seasons
s9666     90      min
s9667      1   Season
s9668    103      min

[9668 rows x 2 columns]

In [150]:
df["runtime_seasons"] = np.nan
# df["runtime_seasons"] = df["duration"].str.split(" ", expand=True)
df.loc[df["type"] == "TV Show", "runtime_seasons"] = df["duration"].str.split(" ", expand=True)[0].astype(int)

In [151]:
df

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,runtime_minutes,runtime_seasons
show_id,,,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113.0,NaN
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110.0,NaN
s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,74.0,NaN
s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",69.0,NaN
s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,45.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...,60.0,NaN
s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",NaN,4.0
s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",90.0,NaN
s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",NaN,1.0
s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",103.0,NaN

In [158]:
df["listed_in"].unique()

array(['Comedy, Drama', 'Drama, International', 'Action, Drama, Suspense',
       'Documentary', 'Drama, Fantasy', 'Fantasy, Kids',
       'Documentary, Special Interest', 'Comedy',
       'Action, Science Fiction, Suspense', 'Drama', 'Adventure, Kids',
       'Horror, Suspense', 'Documentary, Sports',
       'Horror, Science Fiction', 'Kids, Special Interest',
       'Comedy, Talk Show and Variety', 'Science Fiction', 'Kids',
       'Action, Anime, Comedy',
       'Arts, Entertainment, and Culture, Comedy, Drama', 'TV Shows',
       'Animation, Anime, Fantasy', 'Action, Adventure, Animation',
       'Anime, Kids', 'Music Videos and Concerts', 'Drama, Suspense',
       'Fitness, Special Interest',
       'Faith and Spirituality, Special Interest', 'Special Interest',
       'Fitness', 'Action, Military and War, Western',
       'Arts, Entertainment, and Culture, Comedy, Talk Show and Variety',
       'Action, Western', 'Documentary, Science Fiction',
       'Adventure, Animation, Kids', 'Fantasy, Science Fiction, Suspense',
       'Suspense', 'Action', 'Documentary, LGBTQ',
       'Drama, Romance, Suspense', 'Comedy, Special Interest, Unscripted',
       'Unscripted', 'Documentary, Military and War', 'Animation, Kids',
       'Action, Drama', 'Comedy, Documentary, Unscripted', 'Western',
       'Action, Drama, Sports',
       'Arts, Entertainment, and Culture, Comedy',
       'Arts, Entertainment, and Culture, Comedy, Special Interest',
       'Documentary, International, Special Interest',
       'Comedy, Science Fiction', 'Drama, Western',
       'Arts, Entertainment, and Culture', 'Drama, Special Interest',
       'Action, Science Fiction',
       'Documentary, Faith and Spirituality, Special Interest',
       'Action, Drama, Special Interest', 'Drama, Young Adult Audience',
       'Drama, Military and War', 'Arthouse, Drama',
       'Documentary, Kids, Special Interest', 'Action, Adventure, Comedy',
       'Sports', 'Military and War, Western', 'Action, Comedy, Drama',
       'Anime', 'Comedy, International', 'Drama, Romance',
       'Drama, Horror, Suspense', 'Animation, Comedy, Kids',
       'Action, Suspense',
       'Arts, Entertainment, and Culture, Documentary',
       'Documentary, Drama, Unscripted', 'Action, Drama, International',
       'Drama, Science Fiction, Suspense', 'International, Suspense',
       'Drama, International, Suspense', 'Action, International',
       'Anime, Drama, International', 'Action, Documentary, Sports',
       'Comedy, Horror', 'Action, Adventure, Anime', 'Animation, Drama',
       'Special Interest, Sports', 'Horror', 'Action, Comedy',
       'Arthouse, Comedy, Drama',
       'Arts, Entertainment, and Culture, Documentary, Special Interest',
       'Animation, International, Kids', 'Comedy, Drama, LGBTQ',
       'Action, Adventure', 'Comedy, Drama, Sports', 'Comedy, Romance',
       'Documentary, Drama, Sports', 'Drama, International, Romance',
       'Comedy, Drama, Romance', 'Animation, Anime, Drama',
       'Action, Drama, Kids', 'Fantasy, Horror, International',
       'Action, Animation, Kids',
       'Drama, Faith and Spirituality, Special Interest',
       'Action, Drama, Western', 'Action, Adventure, Suspense',
       'Documentary, International', 'Adventure, Fantasy',
       'Action, Romance, Western', 'Documentary, Talk Show and Variety',
       'Documentary, Drama, LGBTQ', 'Documentary, Sports, Unscripted',
       'Comedy, Kids', 'Arts, Entertainment, and Culture, Drama',
       'Music Videos and Concerts, Special Interest',
       'Drama, Faith and Spirituality, Romance',
       'Drama, Faith and Spirituality, LGBTQ',
       'Drama, Suspense, Young Adult Audience',
       'Drama, LGBTQ, Unscripted',
       'Documentary, Music Videos and Concerts',
       'Drama, Faith and Spirituality', 'Special Interest, Unscripted',
       'Action, Fantasy', 'Action, Drama, Horror',
       'International, Music Videos and Concerts, Unscripted',
       'Action, Kids', 'Action, Drama, Romance', 'Drama, Sports',
       'Documentary, Drama, Special Interest',
       'Animation, Comedy, Science Fiction', 'Adventure, Drama',
       'Comedy, Western', 'Animation, Kids, Special Interest',
       'Drama, Unscripted, Young Adult Audience', 'Drama, Kids',
       'Documentary, Horror', 'Action, Comedy, Horror',
       'Comedy, Suspense', 'Animation, Drama, Faith and Spirituality',
       'Drama, Historical', 'Drama, Science Fiction',
       'Comedy, Documentary, Special Interest',
       'Action, Drama, Historical', 'Animation, Anime, Kids',
       'Romance, Science Fiction', 'Drama, Historical, Military and War',
       'Drama, Faith and Spirituality, Suspense',
       'Arthouse, Arts, Entertainment, and Culture, Drama',
       'Documentary, Special Interest, Unscripted', 'Adventure',
       'Comedy, Young Adult Audience', 'Action, Special Interest',
       'Action, Documentary, Unscripted',
       'Documentary, Special Interest, Sports',
       'Kids, Special Interest, Unscripted',
       'Comedy, Documentary, Sports',
       'Arts, Entertainment, and Culture, Documentary, Music Videos and Concerts',
       'Horror, Unscripted', 'Documentary, Drama', 'Suspense, Western',
       'Arts, Entertainment, and Culture, Comedy, Romance',
       'Arthouse, Arts, Entertainment, and Culture, Comedy',
       'Faith and Spirituality', 'Drama, Historical, International',
       'Action, Kids, Science Fiction', 'Action, Military and War',
       'Action, Horror', 'Young Adult Audience',
       'Horror, Young Adult Audience', 'Action, Adventure, Drama',
       'Arts, Entertainment, and Culture, Drama, Romance',
       'Action, Horror, Suspense', 'Comedy, Drama, Kids',
       'Action, Fantasy, Science Fiction',
       'Documentary, Faith and Spirituality',
       'Arthouse, Arts, Entertainment, and Culture, Documentary',
       'Drama, Special Interest, Unscripted',
       'Adventure, Drama, Military and War', 'Documentary, Unscripted',
       'Adventure, Documentary, Military and War', 'Documentary, Kids',
       'Military and War, Special Interest', 'Arthouse, Drama, Suspense',
       'Comedy, Drama, International',
       'Comedy, International, Young Adult Audience',
       'Action, Anime, Fantasy',
       'Documentary, Special Interest, Suspense',
       'Action, Adventure, Documentary',
       'Animation, Faith and Spirituality, Kids',
       'Animation, Documentary, Kids', 'Animation, Kids, Sports',
       'Arthouse, Drama, Romance', 'Action, Young Adult Audience',
       'Drama, Faith and Spirituality, Kids',
       'Drama, Science Fiction, Special Interest',
       'Action, Adventure, Science Fiction', 'Adventure, Drama, Western',
       'Arts, Entertainment, and Culture, Comedy, Military and War',
       'Drama, Horror',
       'Arts, Entertainment, and Culture, Drama, Western',
       'Comedy, Drama, Suspense', 'Animation, Comedy',
       'Kids, Science Fiction', 'Adventure, Comedy, Kids',
       'Comedy, Drama, Young Adult Audience', 'Drama, LGBTQ',
       'Fantasy, Science Fiction', 'International, Unscripted',
       'Arthouse, Comedy', 'Sports, Unscripted',
       'Arts, Entertainment, and Culture, Comedy, Documentary',
       'Adventure, Drama, Suspense', 'Animation',
       'Action, Horror, Science Fiction', 'Drama, LGBTQ, Romance',
       'Comedy, International, Unscripted', 'Drama, Kids, Romance',
       'International, Special Interest',
       'Action, Adventure, International',
       'Documentary, Military and War, Special Interest',
       'Adventure, Documentary, Special Interest',
       'Action, Military and War, Suspense', 'Anime, Drama',
       'Horror, Science Fiction, Suspense',
       'Adventure, Drama, Faith and Spirituality',
       'Arts, Entertainment, and Culture, Drama, Kids',
       'Comedy, Drama, Special Interest',
       'Action, Documentary, Special Interest',
       'Animation, Anime, Horror', 'Arthouse, Special Interest',
       'Action, International, Suspense', 'Action, Sports',
       'Animation, Anime', 'Drama, Historical, Suspense',
       'Talk Show and Variety', 'Romance', 'Drama, Unscripted',
       'Drama, Horror, Special Interest', 'LGBTQ, Special Interest',
       'Action, Romance', 'LGBTQ, Romance', 'Horror, International',
       'Drama, Fantasy, Suspense', 'Comedy, Kids, Talk Show and Variety',
       'Romance, Suspense', 'Drama, Fantasy, Science Fiction',
       'Arts, Entertainment, and Culture, Comedy, International',
       'Action, Documentary', 'Action, Drama, Science Fiction',
       'Kids, Music Videos and Concerts',
       'Documentary, Horror, Special Interest', 'Comedy, LGBTQ, Romance',
       'Action, Comedy, Western', 'Comedy, International, Romance',
       'Documentary, Suspense', 'Action, Arthouse, Drama',
       'International', 'Action, Documentary, Faith and Spirituality',
       'Drama, Kids, LGBTQ', 'Documentary, LGBTQ, Special Interest',
       'Drama, Fantasy, Historical',
       'Arts, Entertainment, and Culture, Music Videos and Concerts',
       'Action, Suspense, Young Adult Audience',
       'Action, Anime, International',
       'International, Science Fiction, Suspense',
       'Action, Arthouse, Arts, Entertainment, and Culture',
       'Comedy, LGBTQ', 'Comedy, International, Special Interest',
       'Adventure, Comedy, Drama', 'Fantasy, Kids, Suspense',
       'Arthouse, Comedy, Romance', 'Comedy, Sports',
       'Action, Comedy, Fantasy', 'Action, Sports, Suspense',
       'Action, Animation, Anime', 'Anime, Comedy, International',
       'Action, Adventure, Kids', 'Action, Comedy, Documentary',
       'Drama, Fantasy, Kids',
       'Arts, Entertainment, and Culture, Comedy, Unscripted',
       'Action, Animation', 'Drama, Horror, Science Fiction',
       'Drama, International, Sports', 'International, Sports',
       'Science Fiction, Suspense', 'Comedy, Unscripted',
       'Action, Special Interest, Sports', 'LGBTQ, Suspense',
       'Arts, Entertainment, and Culture, Comedy, LGBTQ',
       'Arthouse, Drama, International', 'Action, Suspense, Unscripted',
       'Action, Comedy, LGBTQ', 'Special Interest, Western',
       'Kids, Western', 'Drama, LGBTQ, Suspense',
       'Comedy, Special Interest', 'Action, Drama, Military and War',
       'International, Romance', 'Adventure, Drama, Kids',
       'Documentary, Drama, Horror',
       'Science Fiction, Suspense, Unscripted',
       'Arts, Entertainment, and Culture, Drama, Young Adult Audience',
       'LGBTQ, Special Interest, Unscripted', 'Comedy, Drama, Fantasy',
       'Fitness, Kids, Special Interest',
       'Documentary, Music Videos and Concerts, Special Interest',
       'Comedy, Horror, Suspense',
       'Horror, Suspense, Young Adult Audience', 'Adventure, Comedy',
       'Arthouse, Documentary',
       'Arts, Entertainment, and Culture, Drama, International',
       'Drama, Kids, Special Interest', 'Action, Adventure, Western',
       'Documentary, LGBTQ, Music Videos and Concerts',
       'Action, Unscripted', 'Drama, Horror, Western', 'LGBTQ',
       'Comedy, Drama, Science Fiction',
       'Documentary, Science Fiction, Special Interest',
       'Adventure, Kids, Science Fiction',
       'Drama, LGBTQ, Young Adult Audience',
       'Action, Arts, Entertainment, and Culture, Comedy',
       'Action, Adventure, Fantasy', 'Adventure, Sports',
       'Comedy, Fantasy, Kids', 'Drama, Horror, Young Adult Audience',
       'Documentary, Drama, Suspense', 'Historical, Horror, Western',
       'Action, Arts, Entertainment, and Culture, Drama',
       'Comedy, Historical', 'Fitness, Kids',
       'Action, Animation, Fantasy',
       'Arts, Entertainment, and Culture, International, Unscripted',
       'Kids, Sports',
       'Arts, Entertainment, and Culture, Comedy, Young Adult Audience',
       'Documentary, Drama, Kids', 'Anime, International, Kids',
       'Action, Comedy, Special Interest',
       'Action, Comedy, Military and War',
       'Fantasy, Horror, Science Fiction',
       'Comedy, Music Videos and Concerts',
       'Arts, Entertainment, and Culture, Romance',
       'LGBTQ, Romance, Sports',
       'Arts, Entertainment, and Culture, Documentary, LGBTQ',
       'Action, Comedy, International',
       'Adventure, International, Suspense', 'Action, Fantasy, Suspense',
       'Animation, Arts, Entertainment, and Culture, Comedy',
       'Action, Kids, Suspense', 'Action, Comedy, Kids',
       'Kids, LGBTQ, Romance', 'Action, International, Science Fiction',
       'Adventure, Comedy, Fantasy',
       'Animation, Kids, Music Videos and Concerts',
       'Arts, Entertainment, and Culture, Comedy, Science Fiction',
       'Adventure, Fantasy, Kids',
       'Arts, Entertainment, and Culture, International',
       'Action, Kids, Military and War',
       'Comedy, Horror, Young Adult Audience',
       'Arts, Entertainment, and Culture, Music Videos and Concerts, Special Interest',
       'Historical', 'Action, Comedy, Science Fiction',
       'Arts, Entertainment, and Culture, Horror, Suspense',
       'Comedy, Sports, Young Adult Audience',
       'Action, Drama, Faith and Spirituality',
       'Drama, Music Videos and Concerts',
       'Comedy, Faith and Spirituality, Kids', 'Fantasy, Suspense',
       'Arts, Entertainment, and Culture, Fantasy, Kids',
       'Comedy, International, LGBTQ',
       'Arts, Entertainment, and Culture, Fantasy, Horror',
       'Drama, International, Kids', 'Arthouse, Comedy, Documentary',
       'Faith and Spirituality, Special Interest, Western',
       'Adventure, Suspense', 'Action, Comedy, Suspense',
       'Anime, Kids, Science Fiction',
       'Action, Comedy, Young Adult Audience', 'Animation, Suspense',
       'Drama, Romance, Western', 'Adventure, Western',
       'Horror, International, Suspense', 'Adventure, Drama, Romance',
       'Animation, Music Videos and Concerts',
       'Comedy, Drama, Faith and Spirituality', 'Comedy, Kids, LGBTQ',
       'Arts, Entertainment, and Culture, LGBTQ, Romance',
       'Special Interest, Suspense', 'Horror, Romance, Science Fiction',
       'Arts, Entertainment, and Culture, Fantasy, Science Fiction',
       'Drama, Military and War, Suspense', 'Fantasy, Horror',
       'Animation, Science Fiction', 'Animation, Drama, Science Fiction',
       'Faith and Spirituality, Music Videos and Concerts',
       'Documentary, Faith and Spirituality, Music Videos and Concerts',
       'Arthouse, Drama, LGBTQ', 'Comedy, Military and War, Suspense',
       'Faith and Spirituality, Kids, Special Interest',
       'Kids, Young Adult Audience', 'Animation, Drama, Kids',
       'Animation, Comedy, Drama', 'Comedy, Kids, Science Fiction',
       'Action, Adventure, Faith and Spirituality',
       'Drama, Suspense, Western', 'Arthouse, LGBTQ, Romance',
       'Action, Adventure, Sports', 'Comedy, Drama, Military and War',
       'Action, Anime', 'Comedy, Documentary',
       'Drama, International, Special Interest',
       'Drama, Special Interest, Suspense',
       'Action, Arts, Entertainment, and Culture, Music Videos and Concerts',
       'Drama, Romance, Special Interest', 'Action, Documentary, Drama',
       'Arts, Entertainment, and Culture, Kids',
       'Arts, Entertainment, and Culture, Drama, Science Fiction',
       'Arthouse, LGBTQ, Suspense', 'Drama, Horror, Romance',
       'Arts, Entertainment, and Culture, Drama, Music Videos and Concerts',
       'Action, Arthouse, Romance',
       'Arts, Entertainment, and Culture, Kids, Science Fiction',
       'Arthouse, Documentary, Special Interest',
       'Drama, Horror, International',
       'Horror, International, Science Fiction',
       'Animation, Young Adult Audience', 'Action, Anime, Kids',
       'Drama, Romance, Science Fiction', 'Animation, Romance',
       'Action, Romance, Suspense',
       'Arts, Entertainment, and Culture, Comedy, Suspense',
       'Action, Adventure, Horror', 'Action, Adventure, Special Interest',
       'Comedy, Fantasy, Young Adult Audience', 'Arthouse, Comedy, LGBTQ',
       'Arthouse, Comedy, Special Interest',
       'Animation, Kids, Science Fiction', 'Comedy, Horror, Romance',
       'Animation, Kids, Young Adult Audience',
       'Comedy, Romance, Young Adult Audience',
       'International, LGBTQ, Suspense',
       'Arts, Entertainment, and Culture, LGBTQ',
       'Drama, Special Interest, Sports',
       'Arts, Entertainment, and Culture, Documentary, International',
       'Action, Romance, Science Fiction',
       'Comedy, Drama, Music Videos and Concerts',
       'Comedy, Drama, Western', 'Arthouse, Young Adult Audience',
       'Action, International, Romance',
       'Arthouse, Horror, Science Fiction',
       'Action, Arts, Entertainment, and Culture', 'Arthouse',
       'Arthouse, Comedy, Horror', 'Documentary, Kids, Science Fiction',
       'Drama, Historical, Romance', 'Action, Kids, Young Adult Audience',
       'Animation, Horror',
       'Arts, Entertainment, and Culture, Special Interest, Unscripted',
       'Horror, Romance, Western',
       'Arts, Entertainment, and Culture, Comedy, Horror',
       'Arts, Entertainment, and Culture, Young Adult Audience',
       'Arthouse, Drama, Horror', 'Comedy, Drama, Horror',
       'Romance, Science Fiction, Western', 'Horror, Romance',
       'Arthouse, Horror', 'Animation, Kids, Suspense',
       'Horror, Romance, Suspense',
       'Arts, Entertainment, and Culture, Drama, Suspense',
       'Kids, Special Interest, Sports', 'Action, Animation, Drama',
       'Documentary, Horror, Suspense',
       'Action, Animation, Science Fiction',
       'Comedy, Romance, Special Interest',
       'Arthouse, Drama, Science Fiction', 'Arthouse, Horror, Suspense',
       'Arts, Entertainment, and Culture, Drama, LGBTQ',
       'Animation, Special Interest', 'Romance, Suspense, Western',
       'Documentary, Drama, Faith and Spirituality',
       'Drama, International, Western',
       'Arthouse, Comedy, Science Fiction',
       'Comedy, Horror, Science Fiction', 'Action, Comedy, Romance',
       'Arts, Entertainment, and Culture, Comedy, Kids',
       'Arts, Entertainment, and Culture, Comedy, Faith and Spirituality',
       'Action, Special Interest, Suspense',
       'Romance, Science Fiction, Suspense',
       'Documentary, Suspense, Unscripted',
       'Arthouse, Arts, Entertainment, and Culture',
       'Drama, Fantasy, Sports',
       'Arts, Entertainment, and Culture, Drama, Horror',
       'Horror, Western', 'Romance, Western',
       'Adventure, Science Fiction, Suspense',
       'Arthouse, Comedy, International', 'Adventure, Drama, Fantasy',
       'Faith and Spirituality, Kids, Western',
       'Adventure, Arthouse, Horror', 'Comedy, Fantasy',
       'Arthouse, Horror, Romance',
       'Arthouse, Arts, Entertainment, and Culture, Horror',
       'Action, Arts, Entertainment, and Culture, Suspense',
       'Animation, Anime, Romance', 'Military and War',
       'Arthouse, Drama, Kids', 'Action, Anime, Drama',
       'Adventure, Comedy, Unscripted',
       'Arthouse, Documentary, Music Videos and Concerts',
       'Action, Drama, Fantasy', 'Action, Arthouse, Horror',
       'Comedy, Horror, Kids', 'Drama, Kids, Western',
       'Comedy, Documentary, Drama', 'Anime, Drama, Sports',
       'Arthouse, Romance', 'Arthouse, Horror, International',
       'Drama, Kids, Suspense',
       'Special Interest, Talk Show and Variety, Unscripted',
       'Anime, Comedy, Drama'], dtype=object)

In [161]:
df["genres"] = df["listed_in"].str.split(", ")
df

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,runtime_minutes,runtime_seasons,genres
show_id,,,,,,,,,,,,,,
s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113.0,NaN,"[Comedy, Drama]"
s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110.0,NaN,"[Drama, International]"
s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,74.0,NaN,"[Action, Drama, Suspense]"
s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",69.0,NaN,[Documentary]
s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,45.0,NaN,"[Drama, Fantasy]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...,60.0,NaN,[Comedy]
s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",NaN,4.0,[TV Shows]
s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",90.0,NaN,[Action]
s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",NaN,1.0,"[Drama, Sports]"
s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",103.0,NaN,"[Action, Drama, Suspense]"

In [169]:
# 6) Construct a query that can search for genres in listed_in
df[df["listed_in"].str.contains("Anime")]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,runtime_minutes,runtime_seasons,genres
show_id,,,,,,,,,,,,,,
s22,TV Show,Zo Zo Zombie: Mini-Series,NaN,"Alex Cazares, Ben Diskin, Cristina Vee, Erika ...",NaN,NaN,2020,TV-Y7,1 Season,"Action, Anime, Comedy","Zo Zo Zombie is our undead hero who, with his ...",NaN,1.0,"[Action, Anime, Comedy]"
s29,TV Show,Yu-Gi-Oh! Zexal,NaN,"Eli Jay, Marc Thompson, Sean Schemmel, Eileen ...",NaN,NaN,2015,TV-Y7,3 Seasons,"Animation, Anime, Fantasy",It's time to feel the flow as Yu-Gi-Oh! Zexal ...,NaN,3.0,"[Animation, Anime, Fantasy]"
s31,TV Show,Yu-Gi-Oh! 5D's,NaN,"Gregory Abbey, Bella Hudson, Ed Paul",NaN,NaN,2011,TV-Y7,2 Seasons,"Anime, Kids",With the defeat of Director Goodwin and the Da...,NaN,2.0,"[Anime, Kids]"
s140,Movie,Welcome to the Space Show (English Dub),Kôji Masunari,"Keiji Fujiwara, Michael Sinterniklaas",NaN,NaN,2011,13+,136 min,Anime,A group of kids are whisked away to a space co...,136.0,NaN,[Anime]
s184,TV Show,VINLAND SAGA,NaN,"Shizuka Ishigami, Yuto Uemura, Kenichiro Matsu...",NaN,NaN,2019,TV-NR,1 Season,Anime,"Around the end of the millennium, Viking, the ...",NaN,1.0,[Anime]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s8943,Movie,Sound! Euphonium: The Movie - Welcome To The K...,Tatsuya Ishihara,"Chika Anzai, Ayaka Asai, Minori Chihara",NaN,NaN,2016,7+,103 min,Anime,A recap movie of the first season of Sound! Eu...,103.0,NaN,[Anime]
s9123,Movie,Pokémon the Movie 2000,Kunihiko Yuyama,NaN,NaN,NaN,2000,G,80 min,"Animation, Anime, Kids",Just one person can make a difference...,80.0,NaN,"[Animation, Anime, Kids]"
s9308,Movie,Project A-ko 2: Plot of the Daitokuji Financia...,"Katsuhiko Nishijima, Yuuji Moriyama","Miki Itô, Emi Shinohara, Michie Tomizawa",NaN,NaN,1987,16+,49 min,"Animation, Anime",Three weeks after an alien ship lands on Gravi...,49.0,NaN,"[Animation, Anime]"
s9417,TV Show,Tomorrow's Joe 2 (Original Japanese Audio),NaN,"Teruhiko Aoi, Jūkei Fujioka, Emi Tanaka, Ryuse...",NaN,"October 6, 2021",1981,13+,2 Seasons,"Anime, Drama, Sports","Joe, one of the top ranked boxers in the world...",NaN,2.0,"[Anime, Drama, Sports]"
s9597,Movie,Haikara-San: Here Comes Miss Modern Part 1,Kazuhiro Furuhashi,"Asami Seto, Kazuya Nakai",NaN,NaN,2018,13+,97 min,"Anime, Comedy, Drama","Adapted from Waki Yamato's popular manga, Haik...",97.0,NaN,"[Anime, Comedy, Drama]"

In [170]:
len(df)

9668

In [175]:
df.__len__()

9668

In [174]:
lst1 = [1,2,3]
lst1.__len__(), len(lst1)

(3, 3)