In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
db = "sakila"
# url = "sqlite+pysqlite:///" + db
url = "mysql+mysqlconnector://root:rootroot@localhost:3306/" + db
engine = create_engine(url)

In [12]:
film = pd.read_sql("SELECT * FROM film", engine, index_col = "film_id")
# film.set_index("film_id", inplace=True)
film.head()

,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
film_id,,,,,,,,,,,,
1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Deleted Scenes, Trailers}",2006-02-15 05:03:42
3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Deleted Scenes, Trailers}",2006-02-15 05:03:42
4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 05:03:42

In [11]:
pd.read_sql("SELECT * FROM film ORDER BY rental_duration DESC LIMIT 10", engine, index_col = "film_id")

,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
film_id,,,,,,,,,,,,
797,SILENCE KANE,A Emotional Drama of a Sumo Wrestler And a Den...,2006,1,None,7,0.99,67,23.99,R,"{Deleted Scenes, Trailers, Behind the Scenes}",2006-02-15 05:03:42
795,SIEGE MADRE,A Boring Tale of a Frisbee And a Crocodile who...,2006,1,None,7,0.99,111,23.99,R,"{Deleted Scenes, Trailers}",2006-02-15 05:03:42
3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Deleted Scenes, Trailers}",2006-02-15 05:03:42
792,SHREK LICENSE,A Fateful Yarn of a Secret Agent And a Feminis...,2006,1,None,7,2.99,154,15.99,PG-13,{Commentaries},2006-02-15 05:03:42
800,SINNERS ATLANTIS,A Epic Display of a Dog And a Boat who must Su...,2006,1,None,7,2.99,126,19.99,PG-13,"{Deleted Scenes, Trailers, Commentaries}",2006-02-15 05:03:42
789,SHOCK CABIN,A Fateful Tale of a Mad Cow And a Crocodile wh...,2006,1,None,7,2.99,79,15.99,PG-13,"{Trailers, Commentaries, Behind the Scenes}",2006-02-15 05:03:42
786,SHEPHERD MIDSUMMER,A Thoughtful Drama of a Robot And a Womanizer ...,2006,1,None,7,0.99,113,14.99,R,{Deleted Scenes},2006-02-15 05:03:42
784,SHANGHAI TYCOON,A Fast-Paced Character Study of a Crocodile An...,2006,1,None,7,2.99,47,20.99,PG,"{Deleted Scenes, Commentaries, Behind the Scenes}",2006-02-15 05:03:42
780,SENSIBILITY REAR,A Emotional Tale of a Robot And a Sumo Wrestle...,2006,1,None,7,4.99,98,15.99,PG,{Behind the Scenes},2006-02-15 05:03:42
802,SKY MIRACLE,A Epic Drama of a Mad Scientist And a Explorer...,2006,1,None,7,2.99,132,15.99,PG,"{Deleted Scenes, Trailers, Commentaries}",2006-02-15 05:03:42

In [14]:
film.sort_values("rental_duration",ascending=False).head(10)

,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
film_id,,,,,,,,,,,,
421,HOLIDAY GAMES,A Insightful Reflection of a Waitress And a Ma...,2006,1,None,7,4.99,78,10.99,PG-13,"{Trailers, Commentaries, Behind the Scenes}",2006-02-15 05:03:42
196,CRUELTY UNFORGIVEN,A Brilliant Tale of a Car And a Moose who must...,2006,1,None,7,0.99,69,29.99,G,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
526,LOCK REAR,A Thoughtful Character Study of a Squirrel And...,2006,1,None,7,2.99,120,10.99,R,"{Trailers, Commentaries}",2006-02-15 05:03:42
523,LIGHTS DEER,A Unbelieveable Epistle of a Dog And a Woman w...,2006,1,None,7,0.99,174,21.99,R,{Commentaries},2006-02-15 05:03:42
181,CONTACT ANONYMOUS,A Insightful Display of a A Shark And a Monkey...,2006,1,None,7,2.99,166,10.99,PG-13,{Commentaries},2006-02-15 05:03:42
182,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,1,None,7,4.99,185,9.99,G,{Commentaries},2006-02-15 05:03:42
521,LIES TREATMENT,A Fast-Paced Character Study of a Dentist And ...,2006,1,None,7,4.99,147,28.99,NC-17,"{Deleted Scenes, Commentaries, Behind the Scenes}",2006-02-15 05:03:42
520,LICENSE WEEKEND,A Insightful Story of a Man And a Husband who ...,2006,1,None,7,2.99,91,28.99,NC-17,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
905,TRAINSPOTTING STRANGERS,A Fast-Paced Drama of a Pioneer And a Mad Cow ...,2006,1,None,7,4.99,132,10.99,PG-13,{Trailers},2006-02-15 05:03:42
516,LEGEND JEDI,A Awe-Inspiring Epistle of a Pioneer And a Stu...,2006,1,None,7,0.99,59,18.99,PG,"{Deleted Scenes, Commentaries}",2006-02-15 05:03:42

In [35]:
pd.read_sql("SELECT count(*) FROM film WHERE rental_duration = 7", engine)

   count(*)
0       191

In [34]:
len(film[film["rental_duration"] == 7])

191

In [36]:
film.value_counts('rental_duration')[7]

191

In [45]:
categories = pd.read_sql("SELECT * FROM category", engine, index_col = "category_id")
film_category = pd.read_sql("SELECT * from film_category", engine, index_col = ["category_id", "film_id"])

In [55]:
film_category_id = pd.merge(left=film.reset_index(), right=film_category.reset_index(), on="film_id")
film_category_name = pd.merge(right=categories.reset_index(), left=film_category_id.reset_index(), on="category_id")
film_category_merge = film_category_name[["title", "rating", "name"]].rename(columns={"name": "category"})
film_category_merge[film_category_merge['rating'] != "PG"]

                    title rating     category
1        ADAPTATION HOLES  NC-17  Documentary
2        ARMY FLINTSTONES      R  Documentary
3     BEACH HEARTBREAKERS      G  Documentary
4            BED HIGHBALL  NC-17  Documentary
6        BONNIE HOLOCAUST      G  Documentary
..                    ...    ...          ...
990  SWEETHEARTS SUSPECTS      G     Children
992           TIES HUNGER      R     Children
997      WARLOCK WEREWOLF      G     Children
998        WRONG BEHAVIOR  PG-13     Children
999     ZOOLANDER FICTION      R     Children

[806 rows x 3 columns]

In [56]:
actor = pd.read_sql("SELECT * FROM actor", engine)
film_actor = pd.read_sql("SELECT * FROM film_actor", engine)

In [72]:
film_count = film_actor[["actor_id", "film_id"]].groupby("actor_id").count().rename(columns={"film_id":"film_count"})
# film_count.join(actor).sort_values("film_count", ascending=False)
pd.merge(left=film_count, right=actor, on="actor_id").sort_values("film_count", ascending=False)

     actor_id  film_count first_name  last_name         last_update
106       107          42       GINA  DEGENERES 2006-02-15 04:34:33
101       102          41     WALTER       TORN 2006-02-15 04:34:33
197       198          40       MARY     KEITEL 2006-02-15 04:34:33
180       181          39    MATTHEW     CARREY 2006-02-15 04:34:33
22         23          37     SANDRA     KILMER 2006-02-15 04:34:33
..        ...         ...        ...        ...                 ...
70         71          18       ADAM      GRANT 2006-02-15 04:34:33
185       186          16      JULIA  ZELLWEGER 2006-02-15 04:34:33
34         35          15       JUDY       DEAN 2006-02-15 04:34:33
198       199          15      JULIA    FAWCETT 2006-02-15 04:34:33
147       148          14      EMILY        DEE 2006-02-15 04:34:33

[200 rows x 5 columns]